body{
  font-family: 'Righteous', cursive;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: white;
  font-size: 60px;
}
h2{
  font-size: 35px;
}
h5{
  color: darkgrey;
  font-size: 18px;
}
.lightgrey{
  color: lightgrey;
}
.darkgrey{
  color: darkgrey;
}
.blue{
  color: #006AFF;
}
.white{
  color: white;
}
.azzurro{
  color: #00ccff;
}
.dark{
  color: #031B4E;
}
.bg_blue2{
  background-color: #006AFF;
}
.bg_blue3{
  background-color: #3333ff;
}
.bg_blue4{
  background-color: #000099;
}
.gradient{
  background: linear-gradient(to bottom, #0066ff, #031B4E);
}
.gradient2{
  background: linear-gradient(to top, #0066ff, #031B4E);
}
.fs_20{
  font-size: 20px;
}
.fs_18{
  font-size: 18px;
}

.fw_b{
  font-weight: bold;
}
.p_10{
  padding: 10px 0;
}
.p_top{
  padding-top: 50px;
}
.p_bottom{
  padding-bottom: 50px;
}

.header_top{
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
}

.logo_scritta{
  width: 150px;
}

.list_inline{
  list-style: none;
}
.list_inline li{
  display: inline-block;
  vertical-align: sub;
  margin-right: 15px;
}
.fa-google{
  float: left;
  line-height: calc(45px - 20px);

}
.list_inline a{
  text-decoration: none;
  border: 1px solid #006AFF;
  border-color: #006AFF;
  border-radius: 5px;
  background-color: white;
  padding: 8px 12px;
  font-size: 14px;
}
.fa-bars{
  color: #006AFF;
  font-size: 20px;
  vertical-align: sub;
}

.jumbo{
  margin-top: 70px;
  padding: 50px 0;
}
.form{
  background-color: white;
  border-radius: 5px;
  padding: 30px 20px;
}
span{
  text-decoration: underline;
}

.bg_grey{
  background-color: #F3F5F9;
}
.bg_blue{
  background-color: blue;
}
.bg_green{
  background-color: green;
}
.bg_white{
  background-color: white;
}
.m_top10{
  margin-top: 10px;
}
.m_bottom10{
  margin-bottom: 10px;
}
.m_top20{
  margin-top: 20px;
}
.m_bottom20{
  margin-bottom: 20px;
}
.m_top50{
  margin-top: 50px;
}
.m_bottom50{
  margin-bottom: 50px;
}


.lista_loghi{
  list-style: none;
}
.lista_loghi li{
  display: inline-block;
  margin-right: 10px;
}
.lista_loghi li:last-child{
  margin-right: 0;
}
.lista_loghi li img{
  width: 170px;
}



.wrapper_small{
  max-width: 900px;
  margin: auto;
}
.wrapper_small2{
  max-width: 700px;
  margin: auto;
  display: inline-block;
}

.deploy_list{
  list-style: none;
  border-left: 1px solid grey;
  padding-inline-start: 10px;
}
.deploy_list li{
  font-size: 20px;
  margin-bottom: 20px;
}


.box_img{
  margin: auto;
}
.mini_box{
  display:inline-block;
}
.designed{
  max-width: 700px;
}
.sinistra{
  font-size: 50px;
  color: darkgrey;
  margin-right: 20px;
}
.destra{
  font-size: 50px;
  margin-left: 20px;
}

.vam{
  vertical-align: middle;
}
.pallini{
  list-style: none;
  padding-inline-start: 0;
}
.pallini li{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #006AFF;
  border-color: #006AFF;
  background-color: white;
}
#primo{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #006AFF;
  border-color: #006AFF;
  background-color: #006AFF;
}
#secondo{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #006AFF;
  border-color: #006AFF;
  background-color: #006AFF;
}

.barretta{
  border-bottom: 1px solid white;
  padding: 10px 0;
}

.rock_box{
  background-color: white;
}

.bottone{
  color: #006AFF;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.social_list{
  list-style: none;
  padding-inline-start: 0;
}
.social_list li {
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
}


.footer_list{
  list-style: none;
  padding-inline-start: 0;
}

footer{
  position: relative;
}
.squalo_box{
  width:300px;
  height: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.squalo{
  width: 80px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  border-radius: 5px;
}
.box_numero{
  width: 30px;
  height: 30px;
  background-color: red;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  position: absolute;
  right: 37px;
  bottom: 115px;
}
.numero{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testo{
  background-color: white;
  width: 300px;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  right: 160px;
}
.triangolo{
  position: absolute;
  bottom: 60px;
  right: 150px;
  font-size: 30px;
}

@media screen and (min-width: 768px) and (max-width: 991px){
  h1{
    font-size: 50px;
  }
  .form > h2{
    font-size: 25px;
  }
  .lista_loghi li img{
    width: 100px;
  }
  .designed{
    max-width: 500px;
  }
  .wrapper_small2{
    max-width: 400px;
  }
  .second{
    margin-top: 30px;
  }
  .squalo{
    position: absolute;
    bottom: 150px;
    left: -160px;;
  }
  .box_numero{
    position: relative;
    position: absolute;
    left: -95px;
    bottom: 210px;
  }
  .squalo_box{
    width:300px;
    height: 300px;
    position: fixed;
    bottom: 0;
    left: 200px;
    z-index: 1;
  }
}

@media screen and (max-width: 767px){
  h1{
    font-size: 40px;
  }
  .lista_loghi li img{
    width: 250px;
  }
  .designed{
    max-width: 500px;
    margin-top: 100px;
  }
  .sinistra,
  .destra{
    display: none;
  }
  .pallini{
    margin-top: 100px;
  }
  .iconcine{
    width: 70px;
    margin-top: 20px;
  }
  .second{
    margin-top: 30px;
  }
  .wrapper_small2{
    max-width: 400px;
  }
  .squalo{
    position: absolute;
    bottom: 150px;
    left: -160px;;
  }
  .box_numero{
    position: relative;
    position: absolute;
    left: -95px;
    bottom: 210px;
  }
  .squalo_box{
    width:300px;
    height: 300px;
    position: fixed;
    bottom: 0;
    left: 200px;
    z-index: 1;
  }
}
