body{
  font-family: 'Righteous', cursive;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: white;
  font-size: 60px;
}
h2{
  font-size: 35px;
}
h5{
  color: darkgrey;
  font-size: 18px;
}
.lightgrey{
  color: lightgrey;
}
.darkgrey{
  color: darkgrey;
}
.blue{
  color: #006AFF;
}
.dark{
  color: #031B4E;
}
.bg_blue2{
  background-color: #006AFF;
}
.fs_20{
  font-size: 20px;
}
.p_top{
  padding-top: 50px;
}
.p_bottom{
  padding-bottom: 50px;
}
.header_top{
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
}

.logo_scritta{
  width: 150px;
}

.list_inline{
  list-style: none;
}
.list_inline li{
  display: inline-block;
  vertical-align: sub;
  margin-right: 15px;
}

.list_inline a{
  text-decoration: none;
  border: 1px solid #006AFF;
  border-color: #006AFF;
  border-radius: 5px;
  background-color: white;
  padding: 8px 12px;
  font-size: 14px;
}
.fa-bars{
  color: #006AFF;
  font-size: 20px;
  vertical-align: sub;
}

.jumbo{
  margin-top: 70px;
  padding: 50px 0;
}
.form{
  background-color: white;
  border-radius: 5px;
  padding: 30px 20px;
}
span{
  text-decoration: underline;
}

.bg_grey{
  background-color: #F3F5F9;
}
.bg_blue{
  background-color: blue;
}
.bg_green{
  background-color: green;
}
.m_top10{
  margin-top: 10px;
}
.m_bottom50{
  margin-bottom: 50px;
}


.lista_loghi{
  list-style: none;
}
.lista_loghi li{
  display: inline-block;
  margin-right: 10px;
}
.lista_loghi li:last-child{
  margin-right: 0;
}


.wrapper_small{
  max-width: 900px;
  margin: auto;
}

.deploy_list{
  list-style: none;
  border-left: 1px solid grey;
  padding-inline-start: 10px;
}
.deploy_list li{
  font-size: 20px;
  margin-bottom: 20px;
}


.box_img{
  width: 500px;
  height: 300px;
  background-color: green;
}
.mini_box{
  display:inline-block;
}
.pallini{
  list-style: none;
}
.pallini li{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-color: red;
  background-color: red;
}


.rock_box{
  width: 200px;
  height: 200px;
  background-color: red;
}


.social_list{
  list-style: none;
}
.social_list li {
  display: inline-block;
}


.footer_list{
  list-style: none;
}
